/* MAIN CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {	
  display: block;
  font-size: 100%;	
  background-color: #ffffff;
  color: aliceblue;
  
}
.container {
	width: auto;
	max-width: 680px;
	padding: 0 5px;
  }

footer {
	display: block;
	background-color:#090A0A;
}

#logo{
	background-color:#090A0A;
}
#about{
	background-color:#151617;
}
.services-odd{
	background-color:#5A7670;
}
.services-even{
	background-color:#B89F5D;
}

.calendy-bg{
	background-color:#090A0A;
}